@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
/*
font-family: 'Great Vibes', cursive;
font-family: 'Poppins', sans-serif;
*/
*{box-sizing: border-box; font-family: 'Poppins', sans-serif;}
html, body{margin: 0; padding: 0;}
header, section, article, aside, nav, main, footer{display: block;}
h1, h2, h3, h4, h5, h6, p{margin: 0;}
ul, ol{margin: 0; padding: 0; list-style: none;}
a{text-decoration: none;}

.tit_font{font-family: 'Great Vibes', cursive;}


/*header_part*/
header{position: fixed; width: 100%; height: 80px; background-color: rgba(255, 255, 255, 0.75); z-index: 2; border-bottom: 1px solid #ccc;}
header .wrap{width: 1200px; height: 100%; margin: 0 auto; padding: 0 10px; position: relative; /*background: #ff9;*/}
header .wrap .logo{position: absolute; left:10px; top:50%; transform:translateY(-50%);}
/*내부 콘텐츠의 높이를 모르는 상태에서 상단으로부터 50%만큼 내린다.(부모영역 기준 - top:50%;)
transform:translate(x축으로 이동 수치, y축으로 이동 수치); ~로 이동을 시킬 것이다 라는 선언
transform:translateY(); Y축으로만 이동시켜라라는 변형 선언 
transform:translateX(); X축으로만 이동시켜라라는 변형 선언 
transform:translateY(-50%); 내가 갖고 있는 콘텐츠의 절반 만큼만 역방향(상단)으로 이동을 시킨다
*/

header .wrap .logo a{display: block;}
header .wrap .logo a img{display: block; height: 24px; /*background: #faf;*/}

header .wrap nav{width: 100%; height: 100%; /*background: #aaaaff;*/}
header .wrap nav ul{width: 100%; height: 100%; display: flex; flex-wrap: wrap; justify-content: center; align-items: center;}

header .wrap nav ul li{margin: 0 15px;}
header .wrap nav ul li a{display: block; font-size: 14px; font-weight: 200; line-height: 80px; color: #373730; text-transform: uppercase; position: relative; /*background-color: #ffaaaa;*/}
header .wrap nav ul li:hover a{color:#662021;}

header .wrap nav ul li a:before{content:""; position: absolute; display: block; width: 0%; height: 4px; background-color: #662021; bottom:0; left:50%; transition:width 0.25s linear;}

header .wrap nav ul li:hover a:before{width: 50%;}

header .wrap nav ul li a:after{content:""; position: absolute; display: block; width: 0%; height: 4px; background-color: #662021; bottom:0; right:50%;  transition:width 0.25s linear;}

header .wrap nav ul li:hover a:after{width: 50%;}



header .wrap .sns{position: absolute; top:50%; right:10px; transform: translateY(-50%);}
header .wrap .sns ul{display: flex;}
header .wrap .sns ul li{margin: 0 5px;}
header .wrap .sns ul li:last-child{margin-right: 0;}
header .wrap .sns ul li a{display: block; width: 24px; height: 24px; background-size: cover; background-position: 50% 50%; /*background-color: #faf;*/}
header .wrap .sns ul li:nth-child(1) a{background-image: url(../img/fb_icon.png);}
header .wrap .sns ul li:nth-child(1) a:hover{background-image: url(../img/fb_icon_hover.png);}
header .wrap .sns ul li:nth-child(2) a{background-image: url(../img/insta_icon.png);}
header .wrap .sns ul li:nth-child(2) a:hover{background-image: url(../img/insta_icon_hover.png);}
header .wrap .sns ul li:nth-child(3) a{background-image: url(../img/youtube_icon.png);}
header .wrap .sns ul li:nth-child(3) a:hover{background-image: url(../img/youtube_icon_hover.png);}



/*#main*/
#main{width: 100%; height: 100vh; background-size: cover; animation: 36s changeBg infinite;}
@keyframes changeBg{
	0%{background-image: url(../img/main/main_04.jpg); background-position: 50% 0%;}
	20%{background-image: url(../img/main/main_05.jpg); background-position: 0% 60%;}
	40%{background-image: url(../img/main/main_06.jpg); background-position: 50% 50%;}
	60%{background-image: url(../img/main/main_07.jpg); background-position: 100% 20%;}
	80%{background-image: url(../img/main/main_08.jpg); background-position: 25% 40%;}
	100%{background-image: url(../img/main/main_04.jpg); background-position: 50% 0%;}
}
#main .dark{width: 100%; height: 100%; background-color: rgba(0,0,0,0.25);}
#main .dark .wrap{width: 1200px; height: 100%; margin: 0 auto;/*background: #eee;*/ position: relative;}
#main .dark .wrap h1{position: absolute; width: 500px; width: calc(100% / 12 * 5); right:0; bottom:20vh; font-size: 80px; color:#fff; letter-spacing: 1px;}

/*#cont_01*/
/*multi background는 복수의 배경 이미지를 표현할 때 사용 - 첫번째 선언된 이미지가 전면으로 배치가 됨*/

#cont_01{height: 1360px;
	background-image: url(../img/naturebg-1.png), url(../img/product.png);
	background-repeat: no-repeat, no-repeat;
	background-size: auto 400px, auto 320px;
	background-position: -2% 50%, 102% 50%;
	background-attachment: fixed;
}

#cont_01 article{width: 1200px; margin: 0 auto; padding: 100px 0 60px;}

#cont_01 article:last-child{border-top: 1px solid #d3d3d3;}

#cont_01 article:nth-child(1) .title{text-align: center;}
#cont_01 article:nth-child(1) .title h2{font-size: 36px; color:#373730;}

#cont_01 article:nth-child(1) .content{display: flex; flex-wrap: wrap; align-items: flex-start;}
#cont_01 article .content .cont_box{width: calc(100% / 3); padding: 20px 10px 0;}
#cont_01 article:nth-child(1) .content .cont_box .subject{font-size: 18px; color:#662021; line-height: 40px; padding-bottom: 30px; text-align: center; font-weight: 400;}

#cont_01 article:nth-child(1) .content .cont_box .img_cont{height: 200px; background-color: #ffffaa; background-size: cover; background-position: 50% 50%;} 

#cont_01 article:nth-child(1) .content .cont_box:nth-child(1) .img_cont{background-image: url(../img/intro_01.jpg);}
#cont_01 article:nth-child(1) .content .cont_box:nth-child(2) .img_cont{background-image: url(../img/intro_02.jpg);}
#cont_01 article:nth-child(1) .content .cont_box:nth-child(3) .img_cont{background-image: url(../img/intro_03.jpg);}

#cont_01 article:nth-child(1) .content .cont_box .txt_cont{padding-top: 40px; color:#373730; font-size: 14px; line-height: 1.2; font-weight: 300;}



#cont_01 article:nth-child(2) .title{text-align: center;}
#cont_01 article:nth-child(2) .title h2{font-size: 36px; color:#373730;}
#cont_01 article:nth-child(2) .content{padding-top: 40px;}
#cont_01 article:nth-child(2) .content .cont_box{width: 100%; display: flex; align-items: flex-start; flex-wrap: wrap;}
#cont_01 article:nth-child(2) .content .cont_box:nth-child(2n){flex-direction: row-reverse;}

#cont_01 article:nth-child(2) .content .cont_box div{width: calc(50% - 20px); margin: 0 10px 20px;}

#cont_01 article:nth-child(2) .content .cont_box .img_cont{height: 240px; background-size: cover; background-position: 50% 50%;}
#cont_01 article:nth-child(2) .content .cont_box:nth-child(1) .img_cont{background-image: url(../img/story_02.jpg);}
#cont_01 article:nth-child(2) .content .cont_box:nth-child(2) .img_cont{background-image: url(../img/story_03.jpg);}

#cont_01 article:nth-child(2) .content .cont_box .txt_cont h3{font-size: 18px; color:#662021; line-height: 40px; font-weight: 400;}
#cont_01 article:nth-child(2) .content .cont_box .txt_cont p{font-size: 14px; color:#373730; padding-top: 40px; line-height: 1.2;}


/*banner*/
#banner{width: 100%; height: 200px; background-image: url(../img/cashmere_bg_01.jpg);background-size: cover;background-position: 50% 50%;}
#banner .dark{width: 100%; height: 100%; background-color: rgba(0,0,0,0.2); position: relative;}
#banner .dark .banner_txt{position: absolute; top:50%; left:50%; transform:translate(-50%, -50%); text-align: center; color:#fff;}



#banner .dark .banner_txt h2{font-size: 36px; line-height: 60px;}
#banner .dark .banner_txt p{font-size: 18px; line-height: 40px; padding: 20px 0 40px;}
#banner .dark .banner_txt a{font-size: 18px; color:#fff; display: inline-block; width: 180px; height: 40px; border:1px solid #fff; line-height: 38px; position: relative; z-index: 1;}

#banner .dark .banner_txt a:before{content:""; position: absolute; display: block; width: 0%; height: 100%; background-color:rgba(255, 255, 255, 0.2); top:0; left:0; transition:width 0.3s; z-index: -1;}
/*position에서 z-index에 관련한 항목은 최초 선언시 절대적인 개념으로 z 축에 대한 위치가 설정됨. 그자식의 position에 의한 z-index 개념은 부모로부터 상대적인 위치를 조정시에 활용*/


#banner .dark .banner_txt a:hover:before{width: 100%;}



/**#cont_02**/
#cont_02{width: 100%; /*height: 1550px;*/ 
background-image: url(../img/naturebg-2.png),url(../img/cs-bg.png);
background-size: auto 300px, auto 300px;
background-repeat: no-repeat;
background-position: -3% 50%, 103% 50% ;
background-attachment: fixed;
}

#cont_02 article{width: 1200px; margin: 0 auto; padding: 100px 0 60px;}
#cont_02 article:last-child{border-top: 1px solid #d3d3d3;}

#cont_02 article:nth-child(1) .title{text-align: center;}
#cont_02 article:nth-child(1) .title h2{font-size: 36px; color: #373730;}
#cont_02 article:nth-child(1) .content{display: flex; flex-wrap: wrap;/* justify-content: flex-start; align-items: flex-start;*/ padding-top: 40px; }

#cont_02 article:nth-child(1) .content .cont_box{/*width: calc(25% - 20px); margin: 0 10px 20px;*/ width: 25%; padding: 0 10px; margin-bottom: 20px; /*background-color: #ffa;*/}

#cont_02 article:nth-child(1) .content .cont_box .img_cont{width: 100%; height: 90px; background-size: contain; background-position: 50% 50%;background-repeat: no-repeat;}
#cont_02 article:nth-child(1) .content .cont_box:nth-child(1) .img_cont{background-image: url(../img/tab1.png);}
#cont_02 article:nth-child(1) .content .cont_box:nth-child(2) .img_cont{background-image: url(../img/tab2.png);}
#cont_02 article:nth-child(1) .content .cont_box:nth-child(3) .img_cont{background-image: url(../img/tab3.png);}
#cont_02 article:nth-child(1) .content .cont_box:nth-child(4) .img_cont{background-image: url(../img/tab4.png);}

#cont_02 article:nth-child(1) .content .cont_box .txt_cont{padding-top: 20px;}

#cont_02 article:nth-child(1) .content .cont_box .txt_cont span{display: block; text-align: center; font-size: 18px; color: #662021; line-height: 40px; padding-bottom: 20px;}

#cont_02 article:nth-child(1) .content .cont_box .txt_cont h3{font-size: 18px; font-weight: 500; color: #373730; line-height: 40px;}
#cont_02 article:nth-child(1) .content .cont_box .txt_cont .detail_txt p{font-size: 14px; color: #373730; font-weight: 200; padding-left: 20px; position: relative;}

#cont_02 article:nth-child(1) .content .cont_box .txt_cont .detail_txt p:before{content: "-"; position: absolute; left: 0; top: 0;} /*앞부분에 - 넣는 스킬*/


#cont_02 article:nth-child(2) .title{text-align: center;}
#cont_02 article:nth-child(2) .title h2{font-size: 36px; color: #373730;}

#cont_02 article:nth-child(2) .content{display: flex; flex-wrap: wrap; padding-top: 40px;}
#cont_02 article:nth-child(2) .content .cont_box{ height: 360px; margin: 0 10px 20px; position: relative; overflow: hidden; background-color: #ffa;}
#cont_02 article:nth-child(2) .content .cont_box:nth-child(1){width: calc(100% - 20px);}
#cont_02 article:nth-child(2) .content .cont_box:nth-child(2){width:calc(100% / 12 * 5 - 20px);}
#cont_02 article:nth-child(2) .content .cont_box:nth-child(3){width:calc(100% / 12 * 7 - 20px);}

#cont_02 article:nth-child(2) .content .cont_box .img_cont{width: 100%; height: 100%; background-size: cover; background-position: 50% 50%; transition: transform 0.5s;}
#cont_02 article:nth-child(2) .content .cont_box:nth-child(1) .img_cont{background-image: url(../img/store_women.jpg);}
#cont_02 article:nth-child(2) .content .cont_box:nth-child(2) .img_cont{background-image: url(../img/store_men.jpg);}
#cont_02 article:nth-child(2) .content .cont_box:nth-child(3) .img_cont{background-image: url(../img/store_kids.jpg);}

#cont_02 article:nth-child(2) .content .cont_box a{display: block; position: absolute;top: 50%; left: 50%; transform: translate(-50% -50%); padding: 10px 30px; background-color: #373730; color: #fff; font-size: 18px;}

#cont_02 article:nth-child(2) .content .cont_box:hover .img_cont{transform: scale(1.1);}

/*transform:scale(1); ==> 원본 사이즈
transform:scale(1.1); ==> 원본 사이즈로부터 110% 확대*/

#cont_02 article:nth-child(2) .content .cont_box a:hover{background-color: #662021;}


#map_space{height: 450px;display: flex; flex-wrap: wrap;}
#map_space > div{width: 50%; height: 100%;}
#map_space > div#map_img{background-image: url(../img/store_map.jpg); background-size: cover; background-position: 50% 50%; }



/**footer**/
footer{background-color: #d9d9d9;}
footer .wrap{width: 1200px; margin: 0 auto; padding: 40px 0;}
footer .wrap .f_main{width: 100%; height: 80px; position: relative;}

footer .wrap .f_main .logo{position: absolute; top:0; left:10px; width: 80px; height: 100%; background-image: url(../img/footer_logo.jpg); background-size: cover; background-position: 50% 50%;}


footer .wrap .f_main nav{height: 100%;}
footer .wrap .f_main nav ul{height: 100%; display: flex; flex-wrap: wrap; justify-content: center; align-items: center;}
footer .wrap .f_main nav ul li{margin: 0 10px;}
footer .wrap .f_main nav ul li a{display: block; color: #373730; font-size: 14px;}
footer .wrap .f_main nav ul li:hover a{color: #662021;}


footer .wrap .f_main .sns{position: absolute; top:50%; right:10px; transform: translateY(-50%);}
footer .wrap .f_main .sns ul{display: flex; flex-wrap: wrap;}
footer .wrap .f_main .sns ul li{margin: 0 10px;}
footer .wrap .f_main .sns ul li:last-child{margin-right: 0;}
footer .wrap .f_main .sns ul li a{display: block; width: 30px; height: 30px; background-size: cover; background-position: 50% 50%; transition: background-image 0.5s;}
footer .wrap .f_main .sns ul li:nth-child(1) a{background-image: url(../img/fb_icon.png);}
footer .wrap .f_main .sns ul li:nth-child(1) a:hover{background-image: url(../img/fb_icon_hover.png);}
footer .wrap .f_main .sns ul li:nth-child(2) a{background-image: url(../img/insta_icon.png);}
footer .wrap .f_main .sns ul li:nth-child(2) a:hover{background-image: url(../img/insta_icon_hover.png);}
footer .wrap .f_main .sns ul li:nth-child(3) a{background-image: url(../img/youtube_icon.png);}
footer .wrap .f_main .sns ul li:nth-child(3) a:hover{background-image: url(../img/youtube_icon_hover.png);}



footer .wrap .copyrights{font-size: 14px; color:#373730; text-align: center; line-height: 20px; padding-top: 20px;}






















